html {
    box-sizing: border-box;
    font-family: 'TT Lakes',sans-serif;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #1B1C21;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #F8F8F8;
}
@media (max-width: 319px) {
    body {
        display: none;
    }

}

@media (min-width: 320px) {

    .brands {
        border-top: 1px solid #D9FFF5;
        background-color: #F8F8F8;
    }

    .brands__header {
        padding: 16px;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

    .brands__text {
        margin: 0;
        font-size: 16px;
        font-weight: 100;
        color: #7E7E82;
        text-transform: uppercase;
    }


    /* SLIDER */
    .brands-desk {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 16px 0 38px 0;
        height: 154px;
        width: 100%;
    }

    .swiper-wrapper{
        list-style: none;
    }

    .brands-desk__list {
        margin:0;
        list-style: none;
        column-gap: 16px;
        height: 72px;
        padding-left: 16px;
        box-sizing: border-box;
    }

    .swiper-slide {
        width: 240px;

        padding: 0 16px 0 16px;
        background-color: #FFFFFF;

        border: 1px solid #EAEAEA;
        border-radius: 7px;
    }

    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
    }


    .brands__lenovo-logo {
        width: 108px;
        height: 32px;
    }

    .brands__samsung-logo {
        width: 116px;
        height: 38.52px;
    }

    .brands__apple-logo {
        width: 44px;
        height: 44px;
    }

    .brands__sonic-logo {
        width: 128px;
        height: 21px;
    }

    .brands__bosh-logo {
        width: 128px;
        height: 28.6px;
    }

    .brands__hp-logo {
        width: 52px;
        height: 52px;
    }

    .brands__acer-logo {
        width: 94px;
        height: 24px;
    }

    .brands__sony-logo {
        width: 128px;
        height: 25.6px;
    }

    .arrow-button {
        padding: 0;
        border: 2px solid #FF3E79;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: transparent;
        box-shadow: none;

        transition: transform .2s, box-shadow 0.3s;

    }

    .arrow-button:hover,
    .arrow-button:focus {
        transition: transform .2s, box-shadow 0.3s;
        transform: scale(1.06);
        box-shadow: 0 0 5px -3px #FF3E79,
        inset 0 0 5px -3px #FF3E79;
    }

    .arrow-button:active {
        transform: scale(1);
        box-shadow: inset 0 0 5px -3px #FF3E79;
    }

    .arrow-button::before {
        content: '';
        border-radius: 10% 10% 9% 10% / 48% 52% 47% 53%;
        background: #FF3E79;
        display: inline-block;
        width: 7px;
        height: 2px;

        transform: translate(3px, -4px) rotate(45deg);
        transition: transform .2s;
    }

    .arrow-button:hover.arrow-button::before,
    .arrow-button:focus.arrow-button::before {
        transform: translate(7px, -4px) rotate(45deg) scale(1.2);
    }

    .arrow-button:active.arrow-button::before {
        transform: translate(17px, -4px) rotate(45deg) scale(1.2);
    }

    .arrow-button::after {
        content: '';
        border-radius: 10% 10% 9% 10% / 48% 52% 47% 53%;
        background: #FF3E79;
        display: inline-block;
        width: 7px;
        height: 2px;
        transform: translate(-4px) rotate(135deg);
        transition: transform .2s;
    }

    .arrow-button:hover.arrow-button::after,
    .arrow-button:focus.arrow-button::after {
        transform: translate(0) rotate(135deg) scale(1.2);
    }

    .arrow-button:active.arrow-button::after {
        transform: translate(10px) rotate(135deg) scale(1.2);
    }

    .toggle-points {
        height: 12px;
        position: relative;
    }

    .swiper-pagination-bullet {
        background: #DDDDDD;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #B5B6BC;
    }

    .show-more__button {
        display: none;
        border: none;
        background: none;
        padding: 0;
        width: 134px;
        height: 24px;
        justify-content: space-between;
        align-items: center;
        transform: translateX(16px);
    }

    .show-more__text {
        display: inline;
        font-family: 'TT Lakes',sans-serif;
        width: 101px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 500;
        transition: color 200ms ease;

    }

    .show-more__icon {
        transition: transform 200ms, scale 200ms, rotate 200ms;
    }

    .show-more__icon--reverse {
        transition: transform 200ms, scale 200ms, rotate 200ms;
        transform: rotateX(180deg);
    }


    .show-more__button:hover .show-more__icon--reverse {
        transform: rotateX(180deg) scale(1.18);
    }

    .show-more__button:hover .show-more__icon {
        transform: scale(1.18);
    }

    .show-more__button:hover .show-more__text{
        color: #7E7E82;
    }

}

@media (min-width: 768px) {

    .brands__header {
        height: 56px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .brands-desk {
        height: 266px;
        display: flex;
        flex-direction: column;
    }

    .brands-desk__list {
        width: 100%;
        flex-wrap: wrap;
        gap: 16px 24px;
        height: auto;
        overflow: hidden;
    }

    .swiper-slide {
        width: 224px;
        height: 72px;
    }

    .swiper-pagination {
        display: none;
    }

    .show-more__button {
        display: inline-flex;
    }
}


@media (min-width: 1120px) {

    .brands__header {
        padding-left: 32px;
    }
    .brands-desk__list {
        column-gap: 32px;
        padding-left: 32px;
    }

    .swiper-slide {
        width: 240px;
    }

    .show-more__button {
        transform: translateX(32px);
    }
}