@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Thin.eot');
    src: local('TT Lakes Thin'), local('TTLakes-Thin'),
        url('TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Thin.woff') format('woff'),
        url('TTLakes-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Thin.eot');
    src: local('TT Lakes Condensed Thin'), local('TTLakesCondensed-Thin'),
        url('TTLakesCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Thin.woff') format('woff'),
        url('TTLakesCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Thin.eot');
    src: local('TT Lakes Compressed Thin'), local('TTLakesCompressed-Thin'),
        url('TTLakesCompressed-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Thin.woff') format('woff'),
        url('TTLakesCompressed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Medium.woff') format('woff'),
    url('TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Medium.eot');
    src: local('TT Lakes Compressed Medium'), local('TTLakesCompressed-Medium'),
    url('TTLakesCompressed-Medium.eot?#iefix') format('embedded-opentype'),
    url('TTLakesCompressed-Medium.woff') format('woff'),
    url('TTLakesCompressed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
    url('TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('TTLakesCondensed-Medium.woff') format('woff'),
    url('TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


